/*! CSS Used from: Embedded */
[class*="icon"],
[class^="icon"] {
    font-family: mallMobile, Arial, Helvetica, sans-serif;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconSearch:before {
    content: "\E936";
}
input {
    font: inherit;
    margin: 0;
}
input {
    overflow: visible;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:focus {
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
.input[type="checkbox"] {
    display: none;
}
.input[type="checkbox"] + label .check {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #8ba6c1;
    margin-right: 10px;
}
.input[type="checkbox"]:checked + label .check {
    border: 1px solid #00aced;
    background: #00aced;
}
.input[type="checkbox"]:checked + label .check:before {
    width: 8px;
    height: 4px;
    position: absolute;
    top: 8px;
    left: 2px;
    content: "";
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: checkAnimation 0.2s;
    -o-animation: checkAnimation 0.2s;
    animation: checkAnimation 0.2s;
}
/*! CSS Used from: Embedded */
.yQaW {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.yQaW .NYzK {
    font-size: 1.2rem;
    color: #00aced;
    font-weight: 700;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16px;
    height: 56px;
    border-bottom: 1px solid #dde5ed;
}
.yQaW .NYzK ._3lGc {
    font-size: 1.6rem;
    color: #1d252d;
}
.yQaW .qiMe {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    font-size: 1.5rem;
    width: 100%;
}
.yQaW .qiMe .sRdV {
    width: 120px;
    height: auto;
    overflow-y: scroll;
    background-color: #f5f8fa;
    position: relative;
}
.yQaW .qiMe .sRdV:before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #dde5ed;
}
.yQaW .qiMe .sRdV ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.yQaW .qiMe .sRdV ul li {
    font-size: 1.4rem;
    color: #506d85;
    font-weight: 500;
    line-height: 16px;
    padding: 12px 8px;
    position: relative;
    border-left: 4px solid transparent;
    border-bottom: 1px solid #dde5ed;
}
.yQaW .qiMe .sRdV ul li._3FJH {
    color: #1d252d;
    font-weight: 700;
    background-color: #fff;
    border-left: 4px solid #00aced;
}
.yQaW .qiMe .sRdV ul li._3FJH:after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: 1px;
    height: 100%;
    content: "";
    background-color: #fff;
}
.yQaW .qiMe ._2JM8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.yQaW .qiMe ._2JM8 ._3UeR {
    margin: 10px 12px 20px 14px;
    background-color: #f5f8fa;
    border-radius: 4px;
    height: 35px;
    position: relative;
}
.yQaW .qiMe ._2JM8 ._3UeR input {
    font-size: 1.2rem;
    color: #506d85;
    width: 100%;
    padding: 0 30px;
    border-radius: 4px;
    background-color: #f5f8fa;
    border: none;
    margin: 8px 0;
}
.yQaW .qiMe ._2JM8 ._3UeR input::-webkit-input-placeholder {
    color: #506d85;
}
.yQaW .qiMe ._2JM8 ._3UeR input::-moz-placeholder {
    color: #506d85;
}
.yQaW .qiMe ._2JM8 ._3UeR input::placeholder {
    color: #506d85;
}
.yQaW .qiMe ._2JM8 ._3UeR ._1C-J {
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
    font-size: 1.6rem;
    color: #506d85;
    padding: 7px 8px;
}
.yQaW .qiMe ._3WrU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #506d85;
    line-height: 18px;
    padding: 12px 0;
    min-height: 43px;
    margin: 0 12px;
    border-bottom: 1px solid #dde5ed;
}
.yQaW .qiMe ._3WrU .PBy4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.4rem;
    padding-left: 8px;
}
.yQaW .qiMe ._3WrU ._1fK9 {
    width: 46px;
    text-align: right;
}
.yQaW ._2X6I {
    font-size: 1.5rem;
    color: #8ba6c1;
    background-color: #fff;
    -webkit-box-shadow: 0 -3px 5px 0 hsla(187, 8%, 79%, 0.29);
    box-shadow: 0 -3px 5px 0 hsla(187, 8%, 79%, 0.29);
    text-align: center;
    padding: 8px 10px;
    width: 100%;
}
.yQaW ._2X6I,
.yQaW ._2X6I ._2IU5,
.yQaW ._2X6I ._3pbw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.yQaW ._2X6I ._2IU5,
.yQaW ._2X6I ._3pbw {
    background: #fff;
    color: #00aced;
    font-size: 1.4rem;
    height: 44px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0 12px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.yQaW ._2X6I ._2IU5 {
    color: #fff;
    background: #00aced;
    margin-left: 10px;
}
._1vJZ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
}
._1vJZ._1yJA {
    margin-top: -12px;
}
/*! CSS Used from: Embedded */
.SqS8 .lvji .OSTo {
    margin-right: 0 !important;
    top: 2px;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: mallMobile;
    font-display: swap;
    src: url(//assetscdn1.paytm.com/tmalld/m/mallMobilea75866d26f5264c5ac69021a99caa219.eot);
    src: url(//assetscdn1.paytm.com/tmalld/m/mallMobile45dcb90c981d024bbaa751278307a2be.woff2) format("woff2"),
        url(//assetscdn1.paytm.com/tmalld/m/mallMobile128973673dcfc7ffc70303f362893079.woff) format("woff"),
        url(//assetscdn1.paytm.com/tmalld/m/mallMobile482cf1183d265dc408ba800fbb0eae3e.ttf) format("truetype"),
        url(//assetscdn1.paytm.com/tmalld/m/mallMobile6c089d867a884ca9925d70802add7de6.svg) format("svg");
    font-weight: 400;
    font-style: normal;
}
