<div class="main-container">

    <div class="main-header">Header Here</div>

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 left-layout">
                    <div class="scrll_hide">
                        <p class="margin_top_600px">
                            Left side Data
                        </p>
                    </div>
                </div>
                <div class="col-9 right-layout">
                    <div class="scrll_hide">
                        <p class="margin_top_600px">
                            Right side Data
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bottom-content">Bottom Content</div>
    <div class="bottom-navigation">Bottom Navigation</div>

</div>

<div class="main-footer">Footer Here</div>

