/*! CSS Used from: Embedded */
body{margin:0;}
main{display:block;}
h1{font-size:2em;margin:.67em 0;}
a{background-color:transparent;}
b,strong{font-weight:bolder;}
img{border-style:none;}
input{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
input{overflow:visible;}
[type=radio]{box-sizing:border-box;padding:0;}
*,body{margin:0;padding:0;}
body{background:#210d38;}
body{font-size:16px;font-family:UniNeue,sans-serif,Helvetica,Arial;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;color:#e9d6ff;}
@media only screen and (min-width:601px){
body.no-scroll-desktop{overflow:hidden;}
}
a{color:#fff;}
.index-module--breadcrumb--1P0eO{align-items:center;align-content:space-between;display:flex;flex-direction:row;height:48px;color:#ffe680;width:-webkit-fit-content;width:fit-content;width:-moz-max-content;background-color:#150429;padding:0 25px;border-radius:12px;border:2px solid #38254d;}
@media only screen and (max-width:600px){
.index-module--breadcrumb--1P0eO{padding:0 15px;height:40px;line-height:40px;}
}
.index-module--breadcrumb--1P0eO span{align-items:center;background:transparent;border:0;color:#ffe680;font-weight:700;display:flex;font-size:14px;line-height:16px;margin:0;padding:0;text-transform:capitalize;outline:none;white-space:nowrap;width:100%;}
@media only screen and (max-width:600px){
.index-module--breadcrumb--1P0eO span{font-size:12px;line-height:16px;height:16px;}
}
.index-module--breadcrumb--1P0eO span{color:#f3eafe;font-size:20px;line-height:28px;}
@media only screen and (max-width:600px){
.index-module--breadcrumb--1P0eO span{font-size:16px;line-height:20px;height:16px;}
}
.month-picker-module--monthWrapper--3FXOZ{text-align:center;line-height:54px;}
@media only screen and (max-width:600px){
.month-picker-module--monthWrapper--3FXOZ{line-height:40px;}
}
.month-picker-module--monthWrapper__header__selOption--18Zbt{background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMDY1MSAxNy41NjVMMTYuOTUwMSAyMS40NUMxNy41MzUxIDIyLjAzNSAxOC40ODAxIDIyLjAzNSAxOS4wNjUxIDIxLjQ1TDIyLjk1MDEgMTcuNTY1QzIzLjg5NTEgMTYuNjIgMjMuMjIwMSAxNSAyMS44ODUxIDE1SDE0LjExNTFDMTIuNzgwMSAxNSAxMi4xMjAxIDE2LjYyIDEzLjA2NTEgMTcuNTY1WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=) no-repeat 100%;background-size:36px;color:#fff;font-weight:800;font-size:18px;line-height:30px;padding:10.5px 20px;cursor:pointer;position:relative;outline:none;-webkit-appearance:none;-moz-appearance:none;text-indent:1px;text-overflow:"";z-index:10;text-transform:capitalize;transition:background-image .3s;}
.month-picker-module--monthWrapper__header__selOption--18Zbt>span{padding-right:16px;}
@media only screen and (max-width:600px){
.month-picker-module--monthWrapper__header__selOption--18Zbt{font-size:14px;line-height:38px;}
}
.month-picker-module--monthWrapper__header__selOption--18Zbt::-ms-expand{display:none;}
.index-module--selOption--gRRke{background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMuMDY1MSAxNy41NjVMMTYuOTUwMSAyMS40NUMxNy41MzUxIDIyLjAzNSAxOC40ODAxIDIyLjAzNSAxOS4wNjUxIDIxLjQ1TDIyLjk1MDEgMTcuNTY1QzIzLjg5NTEgMTYuNjIgMjMuMjIwMSAxNSAyMS44ODUxIDE1SDE0LjExNTFDMTIuNzgwMSAxNSAxMi4xMjAxIDE2LjYyIDEzLjA2NTEgMTcuNTY1WiIgZmlsbD0id2hpdGUiLz48L3N2Zz4=) no-repeat 100%;background-size:36px;color:#fff;font-weight:800;font-size:18px;line-height:30px;padding:10.5px 20px;cursor:pointer;position:relative;outline:none;-webkit-appearance:none;-moz-appearance:none;text-indent:1px;text-overflow:"";z-index:10;text-transform:capitalize;width:100%;box-sizing:border-box;display:block;}
@media only screen and (max-width:600px){
.index-module--selOption--gRRke{padding:4px 20px;}
}
.index-module--selOption--gRRke>span{padding-right:16px;}
.index-module--selOption--gRRke::-ms-expand{display:none;}
.filterSection-module--container--261Lk{position:absolute;top:40px;left:60px;color:#fff;display:flex;flex-direction:column;z-index:10;}
@media only screen and (max-width:1024px){
.filterSection-module--container--261Lk{left:20px;width:100%;top:20px;}
}
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9{background-color:#38254d;border:1px solid #e9d6ff;position:relative;border-radius:12px;display:flex;flex-direction:row;height:56px;justify-content:space-around;line-height:52px;margin-top:20px;width:350px;}
@media only screen and (max-width:600px){
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9{width:calc(100% - 40px);border-radius:8px;box-sizing:border-box;margin-top:10px;height:42px;line-height:40px;}
}
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd{width:50%;border-right:1px solid #513f66;text-align:center;box-sizing:border-box;transition:background-color .12s;}
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd:last-child{border-right:none;border-top-right-radius:12px;border-bottom-right-radius:12px;line-height:52px;}
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd:first-child{border-right:none;border-top-left-radius:12px;border-bottom-left-radius:12px;text-align:left;padding-left:8px;padding-right:8px;}
@media only screen and (max-width:600px){
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd:first-child{width:60%;}
}
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd:active,.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd:hover{background-color:#513f66;}
@media only screen and (max-width:600px){
.filterSection-module--container--261Lk .filterSection-module--filterControlGroup--bdDi9 .filterSection-module--filterControl--1cGYd{font-size:14px;line-height:16px;letter-spacing:.015em;}
}
.topEntities-module--content--1G8ao{position:relative;}
.topEntities-module--content__filterDetailsSection--28UhO{margin:40px 0 0;}
.topEntities-module--content__filterDetailsSection--28UhO label{background:#150429;border-radius:20px;border:1px solid #e9d6ff;color:#e9d6ff;cursor:pointer;display:inline-block;font-weight:700;font-size:12px;letter-spacing:.02em;line-height:14px;margin-right:10px;padding:8px 16px;text-align:center;text-transform:capitalize;width:48px;transition:background .3s,color .3s;}
.topEntities-module--content__filterDetailsSection--28UhO label.topEntities-module--active--nTo3N{background:#e9d6ff;color:#3a2a4c;}
.topEntities-module--content__filterDetailsSection--28UhO label>input[type=radio]{display:none;}
.topEntities-module--content__filterDetailsSection__content--EXxNm{display:block;margin-top:20px;width:100%;}
.topEntities-module--content__filterDetailsSection__content__title--2AWTk{color:#fff;font-weight:700;font-size:20px;line-height:27px;}
.topEntities-module--content__filterDetailsSection__content__grid--3GbRl{list-style:none;margin:16px 0 40px;}
.topEntities-module--content__filterDetailsSection__content__grid__item--2c9pb{animation:topEntities-module--fadein--oWu-1 1s;margin-bottom:12px;position:relative;display:flex;flex-direction:row;}
.topEntities-module--content__filterDetailsSection__content__grid__item--2c9pb:last-child{margin-bottom:0;}
.topEntities-module--content__filterDetailsSection__content__grid__item--2c9pb .topEntities-module--number--3o7AA{color:#6d5984;font-style:italic;font-size:20px;line-height:24px;width:30px;font-weight:800;float:left;}
.topEntities-module--content__filterDetailsSection__content__grid__item--2c9pb .topEntities-module--itemTitle--1qjsI{color:#fff;font-weight:700;font-size:14px;line-height:24px;margin-bottom:5px;text-transform:capitalize;width:70%;}
.topEntities-module--content__filterDetailsSection__content__grid__item--2c9pb .topEntities-module--itemGraphBlue--25_iw{color:#05c3de;width:30%;text-align:right;font-size:18px;line-height:24px;font-weight:800;}
.topEntities-module--content--1G8ao:before{content:"";height:2px;width:100%;margin:0 auto;background-color:#513f66;display:block;position:absolute;top:20px;left:50%;transform:translate(-50%);border-radius:2px;top:-22px;}
._transactions-module--header--3ItFw{align-items:center;display:flex;justify-content:flex-start;position:fixed;width:337px;padding:16px 0;box-sizing:border-box;background:rgba(44,25,66,.95);z-index:10;}
@media only screen and (max-width:600px){
._transactions-module--header--3ItFw{position:relative;}
}
._transactions-module--header__title--1ry00{color:#05c3de;font-weight:800;font-size:24px;line-height:32px;margin-right:48px;}
._transactions-module--content--1ENQY{animation:_transactions-module--fadein--Nt0DB .3s;padding-top:20px;}
@media only screen and (max-width:600px){
._transactions-module--content--1ENQY{padding-top:0;}
}
._transactions-module--content__detailsSection--2fU7H{display:block;margin-bottom:20px;margin-top:48px;}
@media only screen and (max-width:600px){
._transactions-module--content__detailsSection--2fU7H{margin-top:0;}
}
._transactions-module--content__detailsSection__title--31jW-{color:#f3eafe;font-weight:500;font-size:14px;line-height:19px;}
._transactions-module--content__detailsSection__title--31jW->strong{display:block;font-weight:800;font-size:44px;line-height:59px;color:#05c3de;}
@media only screen and (max-width:600px){
._transactions-module--content__detailsSection__title--31jW->strong{font-size:36px;line-height:49px;}
}
._transactions-module--content__detailsSummary--1tEGS{align-items:flex-start;display:flex;justify-content:space-between;}
._transactions-module--content__detailsSummary--1tEGS>dl{color:#05c3de;margin-right:20px;}
._transactions-module--content__detailsSummary--1tEGS>dl:last-child{margin-right:0;}
._transactions-module--content__detailsSummary--1tEGS>dl>dt{color:#f3eafe;font-weight:500;font-size:14px;letter-spacing:.02em;line-height:19px;}
._transactions-module--content__detailsSummary--1tEGS>dl>dd{font-weight:800;font-size:24px;line-height:36px;}
._transactions-module--content__categorySection--9O-LD{padding-top:50px;margin-top:10px;position:relative;}
._transactions-module--content__categorySection__title--6Iufe{color:#f3eafe;font-weight:700;font-size:20px;line-height:27px;}
._transactions-module--content__categorySection__grid--24yMK{list-style:none;margin-top:10px;}
._transactions-module--content__categorySection__grid__item--xVO7O{align-items:center;border-radius:24px;box-sizing:border-box;color:#f3eafe;display:flex;justify-content:flex-start;margin-bottom:4px;padding:10px 2px;}
._transactions-module--content__categorySection__grid__item--xVO7O:last-child{margin:0;}
._transactions-module--content__categorySection__grid__item--xVO7O>span{flex:1 1;font-weight:700;font-size:14px;letter-spacing:.04em;line-height:14px;}
._transactions-module--content__categorySection__grid__item--xVO7O>strong{font-weight:800;font-size:20px;line-height:28px;color:#05c3de;}
._transactions-module--content__categorySection--9O-LD:before{content:"";height:2px;width:100%;margin:0 auto;background-color:#513f66;display:block;position:absolute;top:20px;left:50%;transform:translate(-50%);border-radius:2px;}
.navHeaderStyles{background:#391c59;box-shadow:0 -2px 30px rgba(0,0,0,.2);box-sizing:border-box;color:#fff;font-family:UniNeue,-apple-system,Roboto,sans-serif,serif;display:flex;padding:0 40px;margin:0;width:100%;position:fixed;top:0;left:0;z-index:12;}
@media only screen and (max-width:1024px){
.navHeaderStyles{padding:0;}
}
.navHeaderStyles__wrapper{align-items:center;display:flex;margin:auto;max-width:98%;width:100%;}
@media only screen and (max-width:600px){
.navHeaderStyles__wrapper{max-width:none;}
}
.navHeaderStyles__wrapper .home{background:transparent;text-decoration:none;display:flex;flex-wrap:nowrap;}
@media only screen and (max-width:1024px){
.navHeaderStyles__wrapper .home{margin:0 auto;display:inline-block;}
}
.navHeaderStyles__wrapper .home img{height:28px;}
@media only screen and (max-width:1024px){
.navHeaderStyles__wrapper .home img{height:23px;}
}
.navHeaderStyles .navTitle{color:#fff;flex:1 1;font-weight:800;font-size:28px;line-height:52px;display:flex;align-items:center;letter-spacing:.02em;padding:0;margin:0;}
@media only screen and (max-width:1024px){
.navHeaderStyles .navTitle.hideHeaderInMobile{display:none;}
}
.navHeaderStyles .navLinks{align-items:center;display:flex;justify-content:center;list-style:none;}
@media only screen and (max-width:600px){
.navHeaderStyles .navLinks{flex-direction:row;}
}
.navHeaderStyles .navLinks__item{margin-right:32px;position:relative;text-align:center;}
.navHeaderStyles .navLinks__item:last-child{margin-right:0;}
@media only screen and (max-width:600px){
.navHeaderStyles .navLinks__item{margin-right:0;width:100%;padding:0 4px;}
}
.navHeaderStyles .navLinks__item a{color:#fff;display:block;font-weight:500;font-size:16px;letter-spacing:.02em;line-height:56px;padding:8px 0;text-align:center;text-decoration:none;opacity:.8;}
.navHeaderStyles .navLinks__item a:before{content:"";position:absolute;top:0;left:50%;transform:translateX(-50%);width:100%;background-color:transparent;}
@media only screen and (min-width:601px){
.navHeaderStyles .navLinks__item a.activeHeader{font-weight:800;}
.navHeaderStyles .navLinks__item a.activeHeader:before{bottom:0;top:auto;background-color:#fff;border-radius:10px 10px 0 0;height:6px;}
}
@media only screen and (max-width:600px){
.navHeaderStyles .navLinks__item a{background:none;font-size:12px;height:48px;line-height:48px;padding:0;white-space:nowrap;border-bottom:none;}
.navHeaderStyles .navLinks__item a.activeHeader{border-bottom:none;opacity:1;}
.navHeaderStyles .navLinks__item a.activeHeader:before{width:70%;background-color:#fff;border-radius:0 0 10px 10px;height:4px;}
}
.navHeaderStyles .navLinks .mobileLogo{display:none;}
@media only screen and (max-width:600px){
.navHeaderStyles .navLinks .mobileLogo{display:block;width:50%;}
.navHeaderStyles .navLinks .mobileLogo a{opacity:1;height:24px;line-height:24px;}
}
@media only screen and (max-width:600px){
#desktopMenu{display:flex;position:fixed;bottom:0;background:#391c59;left:0;width:100%;}
}
main{margin-top:72px;}
@media only screen and (max-width:600px){
main{margin-top:56px;padding-bottom:24px;}
main.noGutterForMobileHeader{margin-top:0;}
}
.bottomLeftActionBar-module--bottomLeftActionsBar--1TOPh{position:absolute;display:flex;width:257px;height:40px;bottom:80px;margin-left:60px;justify-content:space-between;position:relative;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper--1owZH{width:201px;height:100%;background:#2c1942;border-radius:40px;display:flex;align-items:center;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__plusButton--2kkzV{display:flex;justify-content:center;align-items:center;width:48px;font-size:32px;height:100%;cursor:pointer;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__plusButton--2kkzV:hover{color:#392353;background-color:rgba(233,214,255,.4);}
@media only screen and (max-width:600px){
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__plusButton--2kkzV{display:none;}
}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__minusButton--3git-{display:flex;justify-content:center;align-items:center;border-radius:20px 0 0 20px;width:48px;height:100%;font-size:32px;cursor:pointer;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__minusButton--3git-:hover{color:#392353;background-color:rgba(233,214,255,.4);}
@media only screen and (max-width:600px){
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__minusButton--3git-{display:none;}
}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton--2HVR5{display:flex;align-items:center;flex-grow:3;border-radius:0 20px 20px 0;height:100%;font-size:16px;line-height:24px;letter-spacing:.02em;color:#fff;padding-right:16px;cursor:pointer;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton__divider--2RhJY{height:24px;border:1px solid #513f66;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton__divider--2RhJY:focus{border:1px solid #fff;}
@media only screen and (max-width:600px){
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton__divider--2RhJY{display:none;}
}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton--2HVR5 img{margin-left:17px;margin-right:8px;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton--2HVR5:hover{background-color:rgba(233,214,255,.4);}
@media only screen and (max-width:600px){
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton--2HVR5{font-size:12px;line-height:24px;border-radius:20px;}
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper__recenterButton--2HVR5:hover{background-color:transparent;}
}
@media only screen and (max-width:600px){
.bottomLeftActionBar-module--bottomLeftActionsBar__recenterButtonWrapper--1owZH{position:absolute;right:16px;width:101px;}
}
@media only screen and (max-width:600px){
.bottomLeftActionBar-module--bottomLeftActionsBar--1TOPh{width:100%;margin-left:0;box-sizing:border-box;padding:0 25px;bottom:60px;}
}
.index-module--container--3zvgE{align-items:center;box-sizing:border-box;display:flex;flex-direction:column;justify-content:center;margin:0 auto;padding:0;width:100%;}
.index-module--container--3zvgE .index-module--exploreComponents--3HZ0W{align-items:flex-start;display:flex;height:calc(100vh - 72px);justify-content:flex-start;max-width:1440px;width:100%;}
@media only screen and (max-width:1024px){
.index-module--container--3zvgE .index-module--exploreComponents--3HZ0W{height:100%;max-width:none;}
}
@media only screen and (min-width:601px) and (max-width:992px){
.index-module--container--3zvgE .index-module--exploreComponents--3HZ0W{flex-direction:column;}
}
@media only screen and (max-width:600px){
.index-module--container--3zvgE .index-module--exploreComponents--3HZ0W{flex-direction:column;height:100%;}
}
.index-module--container--3zvgE .index-module--exploreComponents__map--31XWp{background:#210d38;box-sizing:border-box;display:block;height:100%;padding:0;width:100%;position:fixed;left:0;top:72px;height:calc(100vh - 72px);}
@media only screen and (max-width:1024px){
.index-module--container--3zvgE .index-module--exploreComponents__map--31XWp{padding:0;top:0;}
}
@media only screen and (min-width:601px) and (max-width:992px){
.index-module--container--3zvgE .index-module--exploreComponents__map--31XWp{padding:0;width:100%;}
}
@media only screen and (max-width:600px){
.index-module--container--3zvgE .index-module--exploreComponents__map--31XWp{height:70vh;padding:0;width:100%;position:fixed;}
}
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W{box-sizing:border-box;height:100%;max-width:385px;padding:28px 18px 62px;width:100%;}
@media only screen and (min-width:601px) and (max-width:992px){
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W{max-width:none;}
}
@media only screen and (max-width:600px){
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W{max-width:none;}
}
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W{height:calc(100vh - 110px);overflow-y:hidden;position:fixed;right:15px;top:95px;scrollbar-width:none;-ms-overflow-style:none;background:rgba(44,25,66,.95);border-radius:12px;padding:0;box-sizing:border-box;}
.index-module--container--3zvgE .index-module--exploreComponents__container__wrap--12IlX{box-sizing:border-box;height:calc(100% - 16px);overflow-y:auto;padding:0 24px 48px;position:relative;scrollbar-width:none;-ms-overflow-style:none;}
.index-module--container--3zvgE .index-module--exploreComponents__container__wrap--12IlX::-webkit-scrollbar{display:none;}
.index-module--container--3zvgE .index-module--exploreComponents__container__wrap--12IlX:after{background:linear-gradient(180deg,rgba(44,25,66,0) -5.55%,#2c1942 87.06%);bottom:25px;content:"";position:fixed;width:385px;height:72px;box-sizing:border-box;right:16px;}
@media only screen and (max-width:600px){
.index-module--container--3zvgE .index-module--exploreComponents__container__wrap--12IlX:after{bottom:0;}
}
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W::-webkit-scrollbar{display:none;}
@media only screen and (min-width:601px) and (max-width:992px){
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W{height:100%;overflow-y:inherit;position:relative;top:0;}
}
@media only screen and (max-width:600px){
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W{height:100%;overflow-y:inherit;position:relative;top:70vh;left:0;padding-top:30px;border-radius:32px;}
.index-module--container--3zvgE .index-module--exploreComponents__container--1-f2W:before{content:"";height:4px;width:64px;margin:0 auto;background-color:#513f66;display:block;position:absolute;top:20px;left:50%;transform:translate(-50%);border-radius:2px;}
}
/*! CSS Used keyframes */
@keyframes topEntities-module--fadein--oWu-1{0%{opacity:0;}to{opacity:1;}}
@keyframes _transactions-module--fadein--Nt0DB{0%{opacity:0;}to{opacity:1;}}
/*! CSS Used fontfaces */
@font-face{font-family:UniNeue;font-style:normal;font-weight:500;src:local("Uni Neue Regular"),local("UniNeue-Regular"),url(https://www.phonepe.com/pulsestatic/pulse/static/UniNeueRegular-7e4e5ddbef12dcf02118f78af51da82e.otf) format("truetype");}
@font-face{font-family:UniNeue;font-style:bold;font-weight:700;src:local("Uni Neue Bold"),local("UniNeue-Bold"),url(https://www.phonepe.com/pulsestatic/pulse/static/UniNeueBold-7b99adece88b53f147f2bb7aea4762d0.otf) format("truetype");}
@font-face{font-family:UniNeue;font-style:bolder;font-weight:800;src:local("Uni Neue Heavy"),local("UniNeue-Heavy"),url(https://www.phonepe.com/pulsestatic/pulse/static/UniNeueHeavy-270b7d3f7356ce1a68c52efd83f1f017.otf) format("truetype");}