<section class="_3Rsp4">

    <div class="_1Ulzd">
        <div *ngFor="let task of allTasks" class="_2-XA5"><img
                src="https://assetscdn1.paytm.com/images/catalog/view_item/695726/1617889954881.png" alt="Scan any QR">
            <div class="_2IDs6">Scan any QR<span>Make payments at nearby shops</span></div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addTaskToList(task)">
                    <mat-icon>dialpad</mat-icon>
                    <span>Add to Box</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>voicemail</mat-icon>
                    <span>Organise Now</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Add to Fav</span>
                </button>
            </mat-menu>
        </div>
    </div>

</section>