/*! CSS Used from: Embedded */
::-webkit-scrollbar {
    display: none;
}
img {
    width: 100%;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
img {
    max-width: 100%;
    border-style: none;
}
button {
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button {
    text-transform: none;
}
button {
    -webkit-appearance: button;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scrollbar-width: none;
}
:focus {
    outline: none;
}
a {
    text-decoration: none;
    color: #00b9f5;
    cursor: pointer;
    position: relative;
}
button:focus {
    outline: none;
    -webkit-appearance: none;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
._3Rsp4 {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    // position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 110;
}
._3Rsp4 .PTtLr {
    margin-top: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 25px;
    color: #000;
    font-weight: 700;
}
._3Rsp4 .PTtLr img {
    width: 85px;
    cursor: pointer;
    margin-bottom: 10px;
}
._3Rsp4 ._32kYG {
    text-align: center;
    font-size: 12px;
    color: #000;
    font-weight: 400;
}
._3Rsp4 ._32kYG {
    width: 55%;
    // padding: 6px 6px 0;
    margin: 0 auto;
}
._3Rsp4 ._1Ulzd {
    padding: 10px 10px 0 10px;
    margin: 5px 5px 5px 5px;
    border: 0.5px solid hsla(0, 0%, 6%, 0.22);
    border-radius: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
}
._3Rsp4 ._1Ulzd ._2-XA5 {
    background: #fff;
    border-radius: 8px;
    width: 100%;
    margin: 0 0 28px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
._3Rsp4 ._1Ulzd ._2-XA5 img {
    width: 50px;
}
._3Rsp4 ._1Ulzd ._2-XA5 ._2IDs6 {
    margin-left: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
._3Rsp4 ._1Ulzd ._2-XA5 ._2IDs6 span {
    padding-top: 7px;
    display: block;
    font-size: 12px;
    color: gray;
    font-weight: 400;
}
._3Rsp4 ._34cbi {
    padding: 20px;
}
._3Rsp4 ._34cbi button {
    background: #00b9f5;
    color: #fff;
    font-size: 15px;
    height: 52px;
    width: 100%;
    border-radius: 6px;
    font-weight: 700;
    padding: 0 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}
._3Rsp4 ._34cbi button img {
    width: 12px;
    margin-right: 2px;
}
._3Rsp4 ._34cbi button span {
    font-weight: 100;
    padding-right: 3px;
}
._3Rsp4 ._34cbi button ._2zDnY {
    margin-right: 10px;
}
._3Rsp4 ._34cbi ._2hbCV {
    background: #fff;
    color: #00b9f5;
    font-size: 12px;
    height: 40px;
    width: 100%;
    border-radius: 6px;
    font-weight: 500;
    padding: 0 12px;
    border: 0;
}
._3Rsp4 ._1dBU8,
._3Rsp4 ._34cbi ._2hbCV {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._3Rsp4 ._1dBU8 {
    -ms-flex-direction: column;
    flex-direction: column;
}
._3Rsp4 ._1dBU8 img {
    width: 260px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
._3Rsp4 ._1dBU8 ._1Y3Sf {
    width: 100%;
}
._3Rsp4 ._1dBU8 ._1Y3Sf:after {
    height: 6px;
    background: #07448e;
    content: "";
    display: block;
}
._3Rsp4 ._1dBU8 ._1Y3Sf:before {
    height: 6px;
    background: #00b9f5;
    content: "";
    display: block;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
/*! CSS Used from: Embedded */
img {
    width: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #e8edf3;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    background-color: #00b9f5;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}
