<mat-toolbar class="mat-elevation-z8">
    Store
    <a mat-button class="companyName" (click)="gotoPacks()">
        <span>Packs</span>
    </a>

    <a mat-button class="companyName" (click)="gotoServices()">
        <span>Services</span>
    </a>

    <app-customer-type></app-customer-type>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #leftSidenav mode="side" opened>
        <app-left-menu></app-left-menu>
    </mat-sidenav>

    <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">

        <div class="main_content">

            <app-packs></app-packs>

        </div>

    </mat-sidenav-content>

</mat-sidenav-container>
