<div class="row">
    <div class="col-sm-4" *ngFor="let item of allPacks">
        <div class="card" style="max-width: 20rem;">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ugg</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Moccasins</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Go Go</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h4 class="card-title">Ugg Boots</h4>
                <p class="card-text">Best ugg boots on the planet. Free shipping, 24/7 customer service.</p>
            </div>
            <div class="card-footer">
                By Uuuuggghhh.com
            </div>
        </div>
    </div>
</div>
