<div data-testid="store-directory">
    <div class="controlHeader_controlHeaderContainer__f-ugJ">
      
        <div data-testid="control-filters" class="controlFilters_controlHeaderFiltersContainer__P7UTB">
            <div class="controlFilters_filtersContainer__3u7M1"><button class="chips_chip__2IcUV chips_regular__1XWJ4"
                    role="button"><span class="">Offers</span></button><button
                    class="chips_chip__2IcUV chips_regular__1XWJ4" role="button"><span class="">In-Store</span></button>
                <div><button class="chips_chip__2IcUV chips_regular__1XWJ4" role="button"><span
                            class="chips_labelPlusDropdown__Uo3i2">Sort by: Relevance</span><svg fill="black"
                            data-testid="dropdownIcon" width="10" height="6" viewBox="0 0 10 6"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.75593 5.12713C5.35716 5.58759 4.64284 5.58759 4.24407 5.12713L1.23682 1.65465C0.675945 1.00701 1.136 -8.62339e-07 1.99275 -7.87439e-07L8.00725 -2.61634e-07C8.864 -1.86735e-07 9.32406 1.00701 8.76318 1.65465L5.75593 5.12713Z"
                                fill="fill" transform="transform"></path>
                        </svg></button>
                    <div class="controlFilters_desktopFilterContainer__21pCv">
                        <ul class="dropdownMenu_dropdownMenuContainer__16ZWe dropdownMenu_dropdownMenuContainerBorder__xqpvQ"
                            data-testid="menu">
                            <li class="dropdownMenuItem_dropdownMenuItem__1bQiY dropdownMenuItem_Text__d67kY"
                                tabindex="0" role="button"><span>Relevance</span></li>
                            <li class="dropdownMenuItem_dropdownMenuItem__1bQiY dropdownMenuItem_Text__d67kY"
                                tabindex="0" role="button"><span>Newest</span></li>
                            <li class="dropdownMenuItem_dropdownMenuItem__1bQiY dropdownMenuItem_Text__d67kY"
                                tabindex="0" role="button"><span>Most Popular</span></li>
                        </ul>
                    </div>
                    <div class="controlFilters_mobileFilterContainer__2_Lyj"><span
                            class="controlFilters_mobileFilterHeader__1CNI1">Sort results</span><span
                            class="controlFilters_mobileFiltersCloseIcon__1M46x"><svg width="24" height="24"
                                viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 2l20 20M2 22L22 2" stroke="#000" stroke-width="2" stroke-linecap="round">
                                </path>
                            </svg></span>
                        <ul class="dropdownMenu_dropdownMenuContainer__16ZWe" data-testid="menu">
                            <li class="dropdownMenuItem_dropdownMenuItem__1bQiY dropdownMenuItem_Text__d67kY"
                                tabindex="0" role="button"><span>Relevance</span></li>
                            <li class="dropdownMenuItem_dropdownMenuItem__1bQiY dropdownMenuItem_Text__d67kY"
                                tabindex="0" role="button"><span>Newest</span></li>
                            <li class="dropdownMenuItem_dropdownMenuItem__1bQiY dropdownMenuItem_Text__d67kY"
                                tabindex="0" role="button"><span>Most Popular</span></li>
                        </ul>
                    </div>
                    <div class=""></div>
                </div>
            </div><a tabindex="0" role="button" class="buttons_chip__3RCMU undefined"
                href="/en-AU/categories/home-and-entertainment/locations"><svg width="14" height="20"
                    viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM2 7c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C4.92 14.21 2 9.85 2 7zm2.5 0a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0z"
                        fill="#000"></path>
                </svg><span class="buttons_labelElementSpacer__1J1Xw"></span>In-Store Map</a>
        </div>
    </div>
    <div class="storeDirectory_storesDirectoryContainer__2ZE3v">
        <div class="storeDirectory_featuredTilesContainer__2CckF">
            <div class="grid_responsiveGrid__35Y4r grid_fullWidth__2ztOu grid_fullHeight__3pVZW">
                <div data-testid="store-tile" class="storeTiles_featuredStoreTileContainer__6sOGt" role="button"
                    tabindex="0"
                    style="background-image: url(&quot;//site-assets.afterpay.com/media/W1siZiIsIjIwMjEvMDMvMDUvMDMvMDIvMzkvZDIyNjQzYmUtOGMxMC00NGUyLWJlYzEtNmZmOTJmZjY5MDhmL0ZyZWVkb21fQWZ0ZXJwYXlfNTc5eDMwMF9Db3NoLmpwZyJdLFsicCIsInN0b3JlX3RpbGUiLCI1Nzl4MzAwIl1d?sha=5b27f5ac24c0c3b0&quot;);">
                    <div data-testid="in-store-tile" class="storeTiles_storeTileOffersContainer__3v8lC"><a tabindex="0"
                            role="button"
                            class="buttons_cardBlack__2GsTM buttons_tiny__29DxM buttons_overrideFocusBorder__1q-si"
                            target="_blank" href="/en-AU/stores/21536/locations">In-Store</a><button role="button"
                            type="button" class="buttons_cardWhite__2d1Wq buttons_tiny__29DxM"><span
                                class="buttons_labelElementSpacer__1J1Xw"></span><span class="">Up to 50%
                                off</span></button></div>
                </div>
                <div data-testid="store-tile" class="storeTiles_featuredStoreTileContainer__6sOGt" role="button"
                    tabindex="0"
                    style="background-image: url(&quot;//site-assets.afterpay.com/media/W1siZiIsIjIwMjEvMDUvMjAvMjMvMjUvNTEvMTBjN2FmYmMtOWVkNS00MDljLThmYjItOWQ1MDg5NGZiZWFlL0FtYXJ0IEZlYXR1cmUgVGlsZS5qcGciXSxbInAiLCJzdG9yZV90aWxlIiwiNTc5eDMwMCJdXQ?sha=bd1dbce513b4fa55&quot;);">
                    <div data-testid="in-store-tile" class="storeTiles_storeTileOffersContainer__3v8lC"><a tabindex="0"
                            role="button"
                            class="buttons_cardBlack__2GsTM buttons_tiny__29DxM buttons_overrideFocusBorder__1q-si"
                            target="_blank" href="/en-AU/stores/36945/locations">In-Store</a><button role="button"
                            type="button" class="buttons_cardWhite__2d1Wq buttons_tiny__29DxM"><span
                                class="buttons_labelElementSpacer__1J1Xw"></span><span class="">Up to 50%
                                off</span></button></div>
                </div>
            </div>
        </div>
        <div class="infinite-scroll-component__outerdiv">
            <div class="infinite-scroll-component " style="height: auto; overflow: auto;">
                <div class="grid_responsiveGrid__35Y4r grid_fullWidth__2ztOu grid_fullHeight__3pVZW">
                    <div *ngFor="let pack of allPacks" data-testid="store-tile"
                        class="storeTiles_storeTileContainer__HoGEa" role="button" tabindex="0"
                        style="background-image: url(&quot;//site-assets.afterpay.com/media/W1siZiIsIjIwMjEvMDgvMTMvMDgvNDkvMDMvYzdjNzVkNWUtNDU4NC00N2RlLThlMjUtZmUwNmE0MWM1YTMxL0FkYWlycyBNYWkgYW5kIEhvbWUgYW5kIEVudCBJbWFnZS5qcGciXSxbInAiLCJzdG9yZV90aWxlIiwiMjUweDI1MCJdXQ?sha=974e9365eb0e1b45&quot;);">
                        <div data-testid="in-store-tile" class="storeTiles_storeTileOffersContainer__3v8lC"><a
                                tabindex="0" role="button"
                                class="buttons_cardBlack__2GsTM buttons_tiny__29DxM buttons_overrideFocusBorder__1q-si"
                                target="_blank" href="/en-AU/stores/1262/locations">In-Store</a></div>
                        <div class="storeTiles_storeTileBottomContainer__2sWHh">
                            <p class="storeTiles_storeTileName__2O2o7">Adairs</p><img
                                class="storeTiles_storeTileLogo__237bI"
                                src="//site-assets.afterpay.com/media/W1siZiIsIjIwMTcvMDUvMjMvMTMvMDAvNDUvYzc0ZGE2Y2QtM2Q3OC00ODNlLWFiYjktNmRlYWNiZTIzNGVmL0FkYWlycy1sb2dvLXdoaXRlLnBuZyJdLFsicCIsIm5lZ2F0ZV9sb2dvIiwiMjUweDI1MCJdXQ?sha=7d4255be38fd5056"
                                alt="Store Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>