/*! CSS Used from: https://www.harrys.com/assets/desktop/global/base-97e8d83dd5d60e71d80ae0c474c9f23911269528f00c48798370456af9539c8a.css ; media=screen */
@media screen {
    .markdown .markdown--h1 {
        font-family: "brandon-grotesque", "Brandon Grotesque", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 0.9px;
        line-height: 40px;
        text-transform: none;
    }
    @media (min-width: 1024px) {
        .markdown .markdown--h1 {
            font-size: 36px;
            letter-spacing: 1.5px;
            line-height: 48px;
        }
    }
    .markdown .markdown--ul {
        padding: 16px 0px 16px 22px;
        list-style-type: disc;
    }
    a {
        text-decoration: none;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999999px;
        display: inline-block;
    }
    label:focus {
        outline: 2px solid #7aacfe !important;
        outline: 5px auto #7aacfe !important;
    }
    p {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-weight: normal;
        font-style: normal;
        line-height: 1.2em;
        text-transform: none;
        text-decoration: none;
    }
    span,
    a {
        display: inline-block;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        line-height: inherit;
        text-transform: inherit;
        text-decoration: inherit;
        color: inherit;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    img {
        max-width: 100%;
        border: none;
        outline: none;
    }
    a,
    button,
    input {
        outline: none;
    }
    @media (min-width: 768px) {
        a:focus,
        button:focus,
        input:focus {
            outline: 5px auto #7aacfe;
        }
    }
    h2 {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-weight: inherit;
        font-style: normal;
        line-height: 1.2em;
        text-transform: none;
        text-decoration: none;
        color: inherit;
    }
    h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2em;
        letter-spacing: 0.21em;
        text-transform: uppercase;
    }
    button {
        -webkit-appearance: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        border: 0;
        background: none;
        transition: all 0.2s ease;
        font-family: "brandon-grotesque", "Brandon Grotesque", sans-serif;
        font-size: 100%;
        font-weight: bold;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
    button:hover {
        box-shadow: none;
    }
    button:active {
        box-shadow: none;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999999px;
        display: inline-block;
    }
    label:focus {
        outline: 2px solid #7aacfe !important;
        outline: 5px auto #7aacfe !important;
    }
}
/*! CSS Used from: https://www.harrys.com/assets/shared/pages/error-eec6957457d46ca5ef27f94c81edf0e519cf4619ec072d875b779d060be0dd84.css ; media=screen */
@media screen {
    .markdown .markdown--h1 {
        font-family: "brandon-grotesque", "Brandon Grotesque", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 0.9px;
        line-height: 40px;
        text-transform: none;
    }
    @media (min-width: 1024px) {
        .markdown .markdown--h1 {
            font-size: 36px;
            letter-spacing: 1.5px;
            line-height: 48px;
        }
    }
    .markdown .markdown--ul {
        padding: 16px 0px 16px 22px;
        list-style-type: disc;
    }
    a {
        text-decoration: none;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999999px;
        display: inline-block;
    }
    label:focus {
        outline: 2px solid #7aacfe !important;
        outline: 5px auto #7aacfe !important;
    }
}
/*! CSS Used from: Embedded */
.exSmtM {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: none;
}
.ghIlXm {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.jPJPoK {
    border-radius: 4px;
    cursor: pointer;
    font-family: brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 0px;
    width: 120px;
    border: 1px solid rgb(209, 70, 28);
    background-color: rgb(209, 70, 28);
    color: rgb(255, 255, 255);
}
.jPJPoK:hover {
    border-color: rgb(164, 55, 22);
    background-color: rgb(164, 55, 22);
}
.jWPIgm {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 4px;
    bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    left: 50%;
    margin: auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 95%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    opacity: 0;
    transform: translate(-50%, 5%);
    visibility: hidden;
    transition: all 0.4s ease 0s;
}
.gJHqSx {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-transform: none;
    color: rgb(0, 130, 91);
    padding-bottom: 5px;
    padding-top: 5px;
}
.iSkuIw {
    display: inline;
    height: 12px;
    fill: rgb(0, 130, 91);
    margin-right: 8px;
}
.iTCfJR {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 4px;
    bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    left: 50%;
    margin: auto;
    opacity: 0;
    padding: 15px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 5%);
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 95%;
    z-index: 350;
    max-width: 300px;
}
@media (min-width: 768px) {
    .iTCfJR {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .iTCfJR {
        max-width: 350px;
    }
}
.khgyPF {
    display: block;
}
@media (min-width: 768px) {
    .khgyPF {
        display: block;
    }
}
.jihpZZ .markdown--h1 {
    color: rgb(38, 54, 69);
    font-family: brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.jihpZZ .markdown--ul {
    display: inline-block;
    margin-bottom: 2px;
    max-height: 0px;
    text-align: left;
    padding: 10px 0px 0px;
    color: rgb(102, 102, 102);
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.4px;
}
.jihpZZ .markdown--ul li {
    list-style: disc;
    margin-left: 25px;
}
.jihpZZ .markdown--ul li:last-of-type {
    margin-bottom: 20px;
}
.eFKMzT {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px auto;
    height: 33px;
}
@media (min-width: 768px) {
    .eFKMzT {
        max-width: 148px;
        height: auto;
    }
}
.jIWiiw {
    height: 15px;
    width: 15px;
}
.kfeiiW {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 4px;
    color: rgb(2, 95, 156);
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 33px;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    width: 35px;
    fill: rgb(2, 95, 156);
}
.kfeiiW:focus,
.kfeiiW:hover {
    background-color: rgb(2, 95, 156);
    fill: rgb(255, 255, 255);
}
.kfeiiW:focus ~ .QuickLearnTooltip-sc-1ctqu11-1,
.kfeiiW:hover ~ .QuickLearnTooltip-sc-1ctqu11-1 {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0px);
}
.hJZZPu {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-transform: none;
    color: rgb(102, 102, 102);
    margin: 0px auto 11px;
    width: 90%;
}
@media (min-width: 768px) {
    .hJZZPu {
        max-width: fit-content;
    }
}
.geETOq {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    width: 100%;
}
.IyKnP {
    max-width: 420px;
    max-height: 420px;
    margin: 0px auto;
}
.bbLOqe {
    width: 100%;
    height: auto;
}
.ErQiC {
    position: absolute;
    width: fit-content;
    z-index: 1;
    top: 8px;
    left: 8px;
    color: rgb(0, 122, 92);
    background-color: rgb(229, 246, 242);
    border-radius: 12px;
    padding: 2px 12px 0px;
}
.dNYPkw {
    width: 16px;
    height: 16px;
    background-color: rgb(237, 123, 32);
    border: 1px solid rgb(237, 123, 32);
    border-radius: 100%;
    margin: 2px;
    position: relative;
}
.dsIeio {
    width: 16px;
    height: 16px;
    background-color: rgb(15, 128, 207);
    border: 1px solid rgb(15, 128, 207);
    border-radius: 100%;
    margin: 2px;
    position: relative;
}
.jFwrwM {
    width: 16px;
    height: 16px;
    background-color: rgb(21, 165, 147);
    border: 1px solid rgb(21, 165, 147);
    border-radius: 100%;
    margin: 2px;
    position: relative;
}
.kzaYOf {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 93px;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 768px) {
    .kzaYOf {
        position: absolute;
        bottom: 93px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.jSTaoq {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}
.jSTaoq input[type="radio"]:focus ~ label {
    outline: rgb(122, 172, 254) auto 5px;
}
.kLFprs {
    display: inline-block;
    padding: 1px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    margin-left: 2px;
    margin-right: 2px;
    height: 22px;
    width: 22px;
}
.kkNoPd {
    display: inline-block;
    padding: 1px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    height: 22px;
    width: 22px;
}
.dzoKRo {
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 8px;
    transition: box-shadow 0.25s ease 0s;
    background-color: rgb(255, 255, 255);
    max-width: 440px;
    padding: 25px 10px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px 10px;
}
@media (min-width: 768px) {
    .dzoKRo:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    }
}
@media (min-width: 768px) {
    .dzoKRo {
        width: 316px;
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding: 25px 10px 40px;
        margin: auto;
    }
}
@media (min-width: 1024px) {
    .dzoKRo {
        width: 300px;
    }
}
@media (min-width: 1350px) {
    .dzoKRo {
        width: 379px;
    }
}
.bMvgnU {
    margin: 8px 0px;
    width: auto;
}
@media (min-width: 768px) {
    .bMvgnU {
        margin: 24px 8px 0px;
        width: auto;
    }
}
.ctsCIO {
    color: rgb(102, 102, 102);
    height: auto;
    display: block;
    margin: 47px 0px 15px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
@media (min-width: 768px) {
    .ctsCIO {
        margin: 47px 0px 15px;
    }
}
.kbUFbj {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 0%;
}
.dxTkMH {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 500;
    display: inline;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}
@media (min-width: 768px) {
    .dxTkMH {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 28px;
    }
}
.jegjYv {
    display: inline;
}
.hDBqlQ {
    display: inline;
}
@media (min-width: 768px) {
    .hDBqlQ {
        display: inline;
    }
}
.bLrAMN {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 500;
    display: inline;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}
@media (min-width: 768px) {
    .bLrAMN {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 28px;
    }
}
.ifYkZF {
    position: relative;
}
.jPCBqZ {
    position: relative;
    height: 100%;
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .jPCBqZ {
        height: auto;
    }
}
.bzzriy {
    width: 100%;
    margin: 0px auto;
    max-width: 1750px;
    padding-top: 20px;
    padding-bottom: 32px;
}
.cthtMM {
    font-family: brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.9px;
    line-height: 32px;
    text-transform: none;
    margin-top: 20px;
    color: rgb(38, 54, 69);
    margin-bottom: 14px;
}
@media (min-width: 1024px) {
    .cthtMM {
        font-size: 28px;
        letter-spacing: 0.9px;
        line-height: 40px;
    }
}
.cShAuK {
    display: flex;
    -webkit-box-pack: center;
    // justify-content: center;
    flex-wrap: wrap;
    // padding: 0px 10px;
    text-align: center;
}
@media (min-width: 1024px) {
    .cShAuK {
        // padding: 0px 65px;
    }
}
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) div:focus,
body:not(.user-is-tabbing) button:focus {
    outline: none;
}
/*! CSS Used fontfaces */
@font-face {
    font-display: swap;
    font-family: "brandon-grotesque";
    src: url(https://www.harrys.com/assets/Brandon-Regular-400-100ce94ebc84db3ede0f5e9270c9550ca38d55c8ae21814cdcb11b5f98964238.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Brandon-Regular-400-e0e31007926745d93180bb687bdc361216bb1f4745d3ed68a8c75e4a0d708f44.woff)
            format("woff");
    font-style: normal;
    font-weight: 400;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "brandon-grotesque";
    src: url(https://www.harrys.com/assets/Brandon-Light-300-6989a6b54d8c58d95534cba206f709835728c25e847fbb4248f1be7ccf527437.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Brandon-Light-300-681b3ac074f513293e9a8d3aa783548a37fbeb20a6d01422ded1a7685362eb35.woff)
            format("woff");
    font-style: normal;
    font-weight: 300;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "brandon-grotesque";
    src: url(https://www.harrys.com/assets/Brandon-Bold-700-84d7f36537ced49d388907008fa5f25e62124750242806d280b7ce5ac158ea7b.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Brandon-Bold-700-1925e4f15529c54a66263d9617e82282236d0fec7e6ac68d0cfc4963036a8378.woff)
            format("woff");
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "brandon-grotesque";
    src: url(https://www.harrys.com/assets/Brandon-Medium-500-1f23e7f966885fa761e6a33a3d59d0a242ca3d0de68e25d66b11f5dc164c786c.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Brandon-Medium-500-c3241b5b07f21743aa0cd0c03cbb3e7f452c22c79ebc705f206e8e6ed98b0613.woff)
            format("woff");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "museo-sans";
    src: url(https://www.harrys.com/assets/Museo-Sans-700-6ba5d133eedf662069c53b539f39a93d42135f53a4fb3b78c1c057270c0d8419.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Museo-Sans-700-c3a911ba6d32fbbaf4ab488d6f7d469a3118249ae9b4362cc4313bdf59bcfd46.woff)
            format("woff");
    font-style: normal;
    font-weight: 700;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "museo-sans";
    src: url(https://www.harrys.com/assets/Museo-Sans-500-ef6c0a5a5e3a449f2c9542551959531e7ac11967a4e24e8919428d60c33cbe5d.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Museo-Sans-500-761cbcce405caf03bb773ae208bdb5e62847459c58af0955c536f318729b6957.woff)
            format("woff");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "museo-sans";
    src: url(https://www.harrys.com/assets/Museo-Sans-500-Italic-735b3d8d8fbe860e8299e40df2a03137371a1e0ac0fa649b0626349d50df05f4.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Museo-Sans-500-Italic-ec06c8e31ff8c915546c450c497f9ac4601028c555b079bf8786e3c60575faa4.woff)
            format("woff");
    font-style: italic;
    font-weight: 500;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "museo-sans";
    src: url(https://www.harrys.com/assets/Museo-Sans-300-b2205e3782bd99a6bc3e4b157529febeec69d81108b32d8de6e697c0c0a421d2.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Museo-Sans-300-1a503ad90bec05ad51826e8b2779458c12a2bf693b1166aa5f1e0b6912b58aea.woff)
            format("woff");
    font-style: normal;
    font-weight: 300;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "museo-sans";
    src: url(https://www.harrys.com/assets/Museo-Sans-700-Italic-4f8e7799e014b8fb8ae5bed8dc1af7555d47d373684a04dc374f6de48b77ef4c.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Museo-Sans-700-Italic-f91ee38a5219d87c3cb064dd72ef2a799bf8c77e8d6088c141905974ded141bd.woff)
            format("woff");
    font-style: italic;
    font-weight: 700;
    unicode-range: U+0000-00FF;
}
@font-face {
    font-display: swap;
    font-family: "museo-sans";
    src: url(https://www.harrys.com/assets/Museo-Sans-300-Italic-4216b12b9ebc3c83b470fde86e9bbe2dffe664d5eb7afd0f9ea9112474eb097e.woff2)
            format("woff2"),
        url(https://www.harrys.com/assets/Museo-Sans-300-Italic-a84c73ca4eeda54145aec396f42735542f93603b20efc62bf06034d02e39cb7a.woff)
            format("woff");
    font-style: italic;
    font-weight: 300;
    unicode-range: U+0000-00FF;
}
