<div class="frGb">Categories to Bag</div>
    <div class="_1g-m">
        <div class="_2ihZ wdFi"><a href="/MemoryCard1-llpid-275260?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/904044/1633433476934.png?imwidth=280&amp;impolicy=hq"
                        alt="Memory Cards"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a
                href="/tablets-offer-msf-deals-2021-llpid-288650?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/903991/1633431593817.png?imwidth=280&amp;impolicy=hq"
                        alt="Tablets"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a
                href="/Kids-clothing-collection-llpid-287168?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/903598/1633424151045.jpg?imwidth=280&amp;impolicy=hq"
                        alt="Kidswear"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a href="/Diabetic-care-psp-llpid-204458?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/903225/1633420310225.png?imwidth=280&amp;impolicy=hq"
                        alt="Diabetic Care"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a
                href="/Cookware-Combos-and-more-llpid-288604?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/903725/1633427313217.png?imwidth=280&amp;impolicy=hq"
                        alt="clone_clone_Cookware &amp; More"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a
                href="/Casual-Shoes-Collection-llpid-287655?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/903994/1633431971545.png?imwidth=280&amp;impolicy=hq"
                        alt="Mens casual shoes"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a
                href="/New-Brands-Launched-Apparels-llpid-286987?use_mw=1&amp;src=store&amp;from=storefront&amp;page=1&amp;category=5041&amp;brand=486407&amp;sort_popular=1&amp;price=149%2C299">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/903747/1633428174851.png?imwidth=280&amp;impolicy=hq"
                        alt="Belts &amp; wallets"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a
                href="/petsupplies-all-llpid-198441?category=101406,101407&amp;use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/904543/1633449343378.png?imwidth=280&amp;impolicy=hq"
                        alt="FB_Dog &amp; Cat Food"></div>
                <div class="_2Yoj"></div>
            </a></div>
        <div class="_2ihZ wdFi"><a href="/Fans-Up-to-60-Off-llpid-208794?use_mw=1&amp;src=store&amp;from=storefront">
                <div class="OWAX"><img class="_1hwb _1Zjw"
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/904038/1633433771000.png?imwidth=280&amp;impolicy=hq"
                        alt="clone_FAN"></div>
                <div class="_2Yoj"></div>
            </a></div>
    </div>