/*! CSS Used from: https://www.harrys.com/assets/desktop/global/base-97e8d83dd5d60e71d80ae0c474c9f23911269528f00c48798370456af9539c8a.css ; media=screen */
@media screen {
    .markdown .markdown--h1 {
        font-family: "brandon-grotesque", "Brandon Grotesque", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 0.9px;
        line-height: 40px;
        text-transform: none;
    }
    @media (min-width: 1024px) {
        .markdown .markdown--h1 {
            font-size: 36px;
            letter-spacing: 1.5px;
            line-height: 48px;
        }
    }
    .markdown .markdown--ul {
        padding: 16px 0px 16px 22px;
        list-style-type: disc;
    }
    a {
        text-decoration: none;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999999px;
        display: inline-block;
    }
    label:focus {
        outline: 2px solid #7aacfe !important;
        outline: 5px auto #7aacfe !important;
    }
    p {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-weight: normal;
        font-style: normal;
        line-height: 1.2em;
        text-transform: none;
        text-decoration: none;
    }
    span,
    a {
        display: inline-block;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        line-height: inherit;
        text-transform: inherit;
        text-decoration: inherit;
        color: inherit;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    img {
        max-width: 100%;
        border: none;
        outline: none;
    }
    a,
    button,
    input {
        outline: none;
    }
    @media (min-width: 768px) {
        a:focus,
        button:focus,
        input:focus {
            outline: 5px auto #7aacfe;
        }
    }
    h2 {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 100%;
        font-weight: inherit;
        font-style: normal;
        line-height: 1.2em;
        text-transform: none;
        text-decoration: none;
        color: inherit;
    }
    h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.2em;
        letter-spacing: 0.21em;
        text-transform: uppercase;
    }
    button {
        -webkit-appearance: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        border: 0;
        background: none;
        transition: all 0.2s ease;
        font-family: "brandon-grotesque", "Brandon Grotesque", sans-serif;
        font-size: 100%;
        font-weight: bold;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
    button:hover {
        box-shadow: none;
    }
    button:active {
        box-shadow: none;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999999px;
        display: inline-block;
    }
    label:focus {
        outline: 2px solid #7aacfe !important;
        outline: 5px auto #7aacfe !important;
    }
}
/*! CSS Used from: https://www.harrys.com/assets/shared/pages/error-eec6957457d46ca5ef27f94c81edf0e519cf4619ec072d875b779d060be0dd84.css ; media=screen */
@media screen {
    .markdown .markdown--h1 {
        font-family: "brandon-grotesque", "Brandon Grotesque", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 0.9px;
        line-height: 40px;
        text-transform: none;
    }
    @media (min-width: 1024px) {
        .markdown .markdown--h1 {
            font-size: 36px;
            letter-spacing: 1.5px;
            line-height: 48px;
        }
    }
    .markdown .markdown--ul {
        padding: 16px 0px 16px 22px;
        list-style-type: disc;
    }
    a {
        text-decoration: none;
    }
    input[type="radio"] {
        position: absolute;
        left: -9999999px;
        display: inline-block;
    }
    label:focus {
        outline: 2px solid #7aacfe !important;
        outline: 5px auto #7aacfe !important;
    }
}
/*! CSS Used from: Embedded */
.exSmtM {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 20px;
    text-transform: none;
}
.ghIlXm {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.jPJPoK {
    border-radius: 4px;
    cursor: pointer;
    font-family: brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 0px;
    padding: 0px;
    width: 120px;
    border: 1px solid rgb(209, 70, 28);
    background-color: rgb(209, 70, 28);
    color: rgb(255, 255, 255);
}
.jPJPoK:hover {
    border-color: rgb(164, 55, 22);
    background-color: rgb(164, 55, 22);
}
.jWPIgm {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 4px;
    bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    left: 50%;
    margin: auto;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 95%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    max-width: 180px;
    opacity: 0;
    transform: translate(-50%, 5%);
    visibility: hidden;
    transition: all 0.4s ease 0s;
}
.gJHqSx {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.4px;
    line-height: 24px;
    text-transform: none;
    color: rgb(0, 130, 91);
    padding-bottom: 5px;
    padding-top: 5px;
}
.iSkuIw {
    display: inline;
    height: 12px;
    fill: rgb(0, 130, 91);
    margin-right: 8px;
}
.iTCfJR {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(247, 247, 247);
    border-radius: 4px;
    bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    left: 50%;
    margin: auto;
    opacity: 0;
    padding: 15px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 5%);
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 95%;
    z-index: 350;
    max-width: 300px;
}
@media (min-width: 768px) {
    .iTCfJR {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .iTCfJR {
        max-width: 350px;
    }
}
.khgyPF {
    display: block;
}
@media (min-width: 768px) {
    .khgyPF {
        display: block;
    }
}
.jihpZZ .markdown--h1 {
    color: rgb(38, 54, 69);
    font-family: brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.jihpZZ .markdown--ul {
    display: inline-block;
    margin-bottom: 2px;
    max-height: 0px;
    text-align: left;
    padding: 10px 0px 0px;
    color: rgb(102, 102, 102);
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.4px;
}
.jihpZZ .markdown--ul li {
    list-style: disc;
    margin-left: 25px;
}
.jihpZZ .markdown--ul li:last-of-type {
    margin-bottom: 20px;
}
.eFKMzT {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px auto;
    height: 33px;
}
@media (min-width: 768px) {
    .eFKMzT {
        max-width: 148px;
        height: auto;
    }
}
.jIWiiw {
    height: 15px;
    width: 15px;
}
.kfeiiW {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    border: none;
    border-radius: 4px;
    color: rgb(2, 95, 156);
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 33px;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 10px 0px 0px;
    width: 35px;
    fill: rgb(2, 95, 156);
}
.kfeiiW:focus,
.kfeiiW:hover {
    background-color: rgb(2, 95, 156);
    fill: rgb(255, 255, 255);
}
.kfeiiW:focus ~ .QuickLearnTooltip-sc-1ctqu11-1,
.kfeiiW:hover ~ .QuickLearnTooltip-sc-1ctqu11-1 {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0px);
}
.hJZZPu {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-transform: none;
    color: rgb(102, 102, 102);
    margin: 0px auto 11px;
    width: 90%;
}
@media (min-width: 768px) {
    .hJZZPu {
        max-width: fit-content;
    }
}
.geETOq {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    width: 100%;
}
.IyKnP {
    max-width: 420px;
    max-height: 420px;
    margin: 0px auto;
}
.bbLOqe {
    width: 100%;
    height: auto;
}
.ErQiC {
    position: absolute;
    width: fit-content;
    z-index: 1;
    top: 8px;
    left: 8px;
    color: rgb(0, 122, 92);
    background-color: rgb(229, 246, 242);
    border-radius: 12px;
    padding: 2px 12px 0px;
}
.dNYPkw {
    width: 16px;
    height: 16px;
    background-color: rgb(237, 123, 32);
    border: 1px solid rgb(237, 123, 32);
    border-radius: 100%;
    margin: 2px;
    position: relative;
}
.dsIeio {
    width: 16px;
    height: 16px;
    background-color: rgb(15, 128, 207);
    border: 1px solid rgb(15, 128, 207);
    border-radius: 100%;
    margin: 2px;
    position: relative;
}
.jFwrwM {
    width: 16px;
    height: 16px;
    background-color: rgb(21, 165, 147);
    border: 1px solid rgb(21, 165, 147);
    border-radius: 100%;
    margin: 2px;
    position: relative;
}
.kzaYOf {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 93px;
    left: 50%;
    transform: translateX(-50%);
}
@media (min-width: 768px) {
    .kzaYOf {
        position: absolute;
        bottom: 93px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.jSTaoq {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
}
.jSTaoq input[type="radio"]:focus ~ label {
    outline: rgb(122, 172, 254) auto 5px;
}
.kLFprs {
    display: inline-block;
    padding: 1px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    margin-left: 2px;
    margin-right: 2px;
    height: 22px;
    width: 22px;
}
.kkNoPd {
    display: inline-block;
    padding: 1px;
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    height: 22px;
    width: 22px;
}
.dzoKRo {
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 8px;
    transition: box-shadow 0.25s ease 0s;
    background-color: rgb(255, 255, 255);
    max-width: 440px;
    padding: 25px 10px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px 10px;
}
@media (min-width: 768px) {
    .dzoKRo:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    }
}
@media (min-width: 768px) {
    .dzoKRo {
        width: 316px;
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding: 25px 10px 40px;
        margin: auto;
    }
}
@media (min-width: 1024px) {
    .dzoKRo {
        width: 300px;
    }
}
@media (min-width: 1350px) {
    .dzoKRo {
        width: 379px;
    }
}
.bMvgnU {
    margin: 8px 0px;
    width: auto;
}
@media (min-width: 768px) {
    .bMvgnU {
        margin: 24px 8px 0px;
        width: auto;
    }
}
.ctsCIO {
    color: rgb(102, 102, 102);
    height: auto;
    display: block;
    margin: 47px 0px 15px;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
@media (min-width: 768px) {
    .ctsCIO {
        margin: 47px 0px 15px;
    }
}
.kbUFbj {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    flex: 1 1 0%;
}
.dxTkMH {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 500;
    display: inline;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}
@media (min-width: 768px) {
    .dxTkMH {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 28px;
    }
}
.jegjYv {
    display: inline;
}
.hDBqlQ {
    display: inline;
}
@media (min-width: 768px) {
    .hDBqlQ {
        display: inline;
    }
}
.bLrAMN {
    font-family: museo-sans, "Museo Sans", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 500;
    display: inline;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 28px;
}
@media (min-width: 768px) {
    .bLrAMN {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 28px;
    }
}
.ifYkZF {
    position: relative;
}
.jPCBqZ {
    position: relative;
    height: 100%;
    margin-bottom: 0px;
}
@media (min-width: 768px) {
    .jPCBqZ {
        height: auto;
    }
}
.bzzriy {
    width: 100%;
    margin: 0px auto;
    max-width: 1750px;
    padding-top: 20px;
    padding-bottom: 32px;
}
.cthtMM {
    font-family: brandon-grotesque, "Brandon Grotesque", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.9px;
    line-height: 32px;
    text-transform: none;
    margin-top: 20px;
    color: rgb(38, 54, 69);
    margin-bottom: 14px;
}
@media (min-width: 1024px) {
    .cthtMM {
        font-size: 28px;
        letter-spacing: 0.9px;
        line-height: 40px;
    }
}
.cShAuK {
    display: flex;
    -webkit-box-pack: center;
    // justify-content: center;
    flex-wrap: wrap;
    // padding: 0px 10px;
    text-align: center;
}
@media (min-width: 1024px) {
    .cShAuK {
        // padding: 0px 65px;
    }
}
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) div:focus,
body:not(.user-is-tabbing) button:focus {
    outline: none;
}
