/*! CSS Used from: Embedded */

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

a:active,
a:hover {
    outline-width: 0;
}

img {
    max-width: 100%;
    border-style: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}


/*! CSS Used from: Embedded */

._2Yoj {
    overflow: hidden;
}

._2Yoj,
._2Yoj:after {
    width: 100%;
    height: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 1;
}

._2Yoj:after {
    content: "";
    pointer-events: none;
    background-image: -webkit-radial-gradient(circle, #dde5ed 10%, transparent 10.01%);
    background-image: -o-radial-gradient(circle, #dde5ed 10%, transparent 10.01%);
    background-image: radial-gradient(circle, #dde5ed 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    opacity: 0;
}


/*! CSS Used from: Embedded */

.OWAX {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 100%;
}

.OWAX ._1hwb {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.OWAX ._1Zjw {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}


/*! CSS Used from: Embedded */

img {
    max-width: 100%;
}


/*! CSS Used from: Embedded */

._1vjA {
    padding: 0 15px 24px;
}

._1g-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
}

._1g-m ._2ihZ img {
    max-width: 100%;
    max-height: 100%;
}

._1g-m .wdFi {
    width: 33.3%;
    padding-top: 33.3%;
    position: relative;
}

._1g-m .wdFi a {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.frGb {
    font-size: 1.6rem;
    font-weight: 600;
    color: #1d252d;
    padding-bottom: 15px;
    position: relative;
}

.frGb {
    text-align: left;
}