/**
* VARIABLES
*/
// FONTS
$font-stack: 'Roboto', 'Helevetica', sans-serif;

// COLORS
$grey: #F5F5F5;

/**
* GLOBAL
*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: $font-stack;
  font-size: 100%;
  background-color: $grey;
}

/**
* CARDS COMPONENTS
*/

.card-subtitle {
  font-size: 1.4rem;
}

// Need to replicate media queries mixins from bootstrap to play with