
    <main class="container-fluid h-100">
        <div class="row">
          <!-- Second Card -->
          <div class="col-12 my-2" *ngFor="let task of inputData">
            <div class="card shadow">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-6 col-md-10">
                    <div class="row align-items-center justify-content-center">
                      <h5 class="col-sm-12 col-md-4 card-title text-muted">13/06/2018</h5>
                      <h5 class="col-sm-12 col-md-4 card-title">NAME</h5>
                      <h5 class="col-sm-12 col-md-4"><span class="text-warning">Save your Score</span></h5>
                    </div>
                  </div>
                  <div class="col-6 col-md-2">
                    <h5 class="text-center"><button type="button" class="btn btn-lg btn-warning rounded-circle text-white font-weight-bold shadow" (click)="openViewEditPackDialog(task)">/</button></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <main>
    
