/*! CSS Used from: https://www.godiva.com/on/demandware.static/Sites-Godiva-Site/-/en_US/v1633496501374/css/global.css */
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h2 {
  margin-top: 0;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
b,
strong {
  font-weight: bolder;
}
a {
  color: #444;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #1e1e1e;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h2 {
  font-size: 1.8rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #ccc;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 769px) {
  .container {
      max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 940px;
  }
}
@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col,
.col-12,
.col-4,
.col-5,
.col-7,
.col-8,
.col-lg-1,
.col-lg-12,
.col-lg-5,
.col-lg-7,
.col-md-4,
.col-md-8,
.col-sm-5,
.col-sm-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.offset-2 {
  margin-left: 16.66667%;
}
@media (min-width: 544px) {
  .col-sm-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .col-sm-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
}
@media (min-width: 769px) {
  .col-md-4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
  }
  .col-md-8 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
  }
  .col-lg-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
  }
  .col-lg-7 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
  }
  .col-lg-12 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.1875rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
      -webkit-transition: none;
      transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #61d2ff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 161, 224, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 161, 224, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled {
  background-color: #e9ecef;
  opacity: 1;
}
.form-group {
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.1875rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
      -webkit-transition: none;
      transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 161, 224, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 161, 224, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-light:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-link {
  font-weight: 400;
  color: #444;
  text-decoration: none;
}
.btn-link:hover {
  color: #1e1e1e;
  text-decoration: underline;
}
.btn-link:focus {
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link:disabled {
  color: #6c757d;
  pointer-events: none;
}
.btn-block {
  display: block;
  width: 100%;
}
.fade {
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
      -webkit-transition: none;
      transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.1875rem;
}
.close {
  float: right;
  font-size: 1.35rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
      -webkit-transition: none;
      transition: none;
  }
}
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.1875rem;
  outline: 0;
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
@media (min-width: 544px) {
  .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
  }
}
.d-none {
  display: none !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
@media (min-width: 992px) {
  .d-lg-none {
      display: none !important;
  }
  .d-lg-block {
      display: block !important;
  }
}
.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
.text-right {
  text-align: right !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
@media print {
  *,
  ::after,
  ::before {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
  }
  a:not(.btn) {
      text-decoration: underline;
  }
  img {
      page-break-inside: avoid;
  }
  h2,
  p {
      orphans: 3;
      widows: 3;
  }
  h2 {
      page-break-after: avoid;
  }
  .container {
      min-width: 992px !important;
  }
}
.card {
  margin-bottom: 1em;
}
@media (max-width: 991.98px) {
  .hidden-md-down {
      display: none !important;
  }
}
input[placeholder] {
  text-overflow: ellipsis;
}
.hide-order-discount {
  display: none;
}
.order-discount,
.shipping-discount {
  color: #008827;
}
.price {
  color: #222;
}
.item-attributes {
  padding-left: 0;
}
.line-item-attributes {
  font-size: 0.813rem;
  margin: 0;
}
.line-item-pricing-info {
  margin-bottom: 0;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pricing {
  font-size: 1em;
  font-weight: bolder;
}
.non-adjusted-price {
  display: none;
}
.line-item-promo {
  font-size: 0.813em;
}
.line-item-availability {
  font-size: 0.813rem;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.grand-total {
  font-size: 1.125rem !important;
}
.checkout-continue {
  margin: 10px 0 20px;
}
@media (min-width: 544px) {
  .checkout-continue {
      width: initial;
  }
}
@media (max-width: 543.98px) {
  .checkout-continue .btn {
      width: 100% !important;
      margin-left: 0 !important;
  }
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.modal-header {
  padding: 0 0.5rem;
  border-bottom: none;
}
.shipping-discount {
  color: #cb0c34;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
h2 {
  font-family: Gotham, Arial, sans-serif;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.price .strike-through {
  color: #000;
  text-decoration: line-through;
  margin-right: 0.938rem;
}
.price .sales {
  font-weight: 700;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.btn-brown-custom {
  background-color: #000;
  color: #fff;
  border: none;
}
.btn-brown-custom:focus {
  background-color: #cfb56a;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(207, 181, 106, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(207, 181, 106, 0.25);
}
.btn-brown-custom:active {
  background-color: #e6cc7f;
}
.btn-brown-custom:disabled {
  background-color: #f2f2f2;
  color: #707070;
  opacity: 1;
}
@media (min-width: 992px) {
  .btn-brown-custom:hover {
      background-color: #cfb56a;
      color: #fff;
  }
  .btn-brown-custom:disabled:hover {
      background-color: inherit;
      color: inherit;
  }
}
.btn-brown-custom.btn-holiday {
  background-color: #eec172;
  font-family: Gotham;
  font-style: normal;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.5px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  src: url(https://www.godiva.com/on/demandware.static/Sites-Godiva-Site/-/en_US/v1633496501374/fonts/Gotham/Gotham-Bold.ttf)
          format("truetype"),
      url(https://www.godiva.com/on/demandware.static/Sites-Godiva-Site/-/en_US/v1633496501374/fonts/Gotham/Gotham-Bold.otf)
          format("opentype");
  width: 45%;
}
.btn-brown-custom.btn-holiday:hover {
  background-color: #ffe4a2;
  color: #000;
}
.btn-brown-custom.btn-holiday:active,
.btn-brown-custom.btn-holiday:focus {
  background-color: #d7a858;
}
.btn-brown-custom.btn-holiday:disabled {
  background-color: #ecdac3;
  color: #494242;
}
@media (max-width: 543.98px) {
  .btn-brown-custom.btn-holiday {
      line-height: 1.5;
      font-size: 1.25rem;
      padding: 0.8em 0;
      width: 100%;
  }
}
.btn-brown-outline {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
}
.btn-brown-outline:focus {
  background-color: #cfb56a;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 28, 13, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(60, 28, 13, 0.25);
  color: #fff;
  outline: dotted 2px;
}
@media (min-width: 992px) {
  .btn-brown-outline:hover {
      background-color: #000;
      color: #fff;
  }
}
.btn-link-primary {
  color: #cfb56a;
}
@media (min-width: 992px) {
  .btn-link-primary:hover {
      color: #cfb56a;
  }
}
.checkout-btn {
  width: 100% !important;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.edit {
  margin-right: 0.625em;
}
.product-edit {
  margin-top: auto;
}
.product-edit a {
  font-size: 0.813em;
  color: #cfb56a;
}
.line-item-attributes {
  font-size: 0.813rem;
  margin: 0;
}
.item-attributes {
  display: inline-block;
  vertical-align: top;
}
.line-item-divider {
  margin: 0.625em -0.625rem;
}
.line-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  color: #000;
  font-weight: 700;
  margin-bottom: 0.625em;
  width: 90%;
}
.line-item-price-info {
  font-size: 0.75em;
  margin-bottom: 0.5rem;
}
.product-info {
  margin-bottom: 0.313em;
  padding: 0.625em;
}
@media (min-width: 769px) {
  .product-info {
      height: auto;
  }
}
.product-to-remove {
  font-weight: 700;
}
.item-image {
  height: 5.625em;
  width: 5.625em;
  margin-right: 0.938em;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.item-image img.product-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 5.625em;
}
@media (min-width: 544px) {
  .promo-code-form {
      display: block;
  }
}
.promo-code-submit {
  padding-left: 0;
}
.quantity-form {
  margin-bottom: 0;
  margin-top: -0.313em;
}
.product-info .remove-btn-lg {
  border: none;
  border-radius: 0;
  font-size: 1.625em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  z-index: 1;
}
.remove-line-item {
  position: relative;
}
.sub-total {
  font-weight: 700;
}
.grand-total {
  font-weight: 600;
  font-weight: 600;
}
.coupons-and-promos {
  margin-bottom: 0.625rem;
  padding-right: 0;
  padding-left: 0;
}
.coupon-error {
  color: #c00;
  margin-top: 0.25rem;
}
.coupon-missing-error {
  display: none;
}
.applied-promotion-discount {
  color: #008827;
  float: right;
}
.promotion-information {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
.line-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.quantity-label {
  font-size: 0.813em;
}
.modal-body-remove.delete-confirmation-body {
  padding: 1rem;
}
.modal-footer-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
}
.modal-footer-remove > button {
  margin-right: 7px;
}
.product-info *,
.totals {
  font-family: Gotham, Arial, sans-serif;
}
@media (min-width: 544px) {
  .cart-page {
      margin-bottom: 15px;
  }
}
.cart-page .promotion-label {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 20px;
}
.cart-page .subtotal-label {
  font-size: 1rem;
}
.login-cart {
  text-decoration: underline;
  color: #cfb56a;
}
.promo-code-form {
  display: block;
}
@media (max-width: 543.98px) {
  .promo-code-form {
      margin-top: 1rem;
  }
}
[data-form-split] {
  width: 12rem;
}
[data-form-split] .btn-link-primary {
  font-size: 0.813em;
}
.product-info[data-line-qty="1.0"] [data-form-split] {
  display: none;
}
.lg-down-split-shipment-form [data-form-split] {
  width: 10rem;
}
.lg-down-split-shipment-form [data-form-split] button {
  text-align: right;
}
.lg-split-shipment-form [data-form-split] {
  margin-right: auto;
  margin-left: auto;
  width: 12rem;
}
.checkout-continue {
  z-index: 10;
}
.coupon_loginRqd,
.coupon_orderTooSoon {
  display: none;
  color: #c00;
}
.qty-input-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 130px;
  max-width: 80%;
  min-width: 90px;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.1875rem;
  overflow: hidden;
}
.qty-input-container .qty-input {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: none;
  text-align: center;
  z-index: 1;
}
.qty-input-container input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.qty-input-container .qty-btn-down,
.qty-input-container .qty-btn-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4em;
  min-width: 1.5em;
  padding: 0;
  border: none;
  border-radius: unset;
  outline: 0;
  -webkit-appearance: none;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
button:focus {
  outline: #757575 auto;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.line-item-promo {
  color: #000;
  text-transform: uppercase;
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
/*! CSS Used from: https://www.godiva.com/on/demandware.static/Sites-Godiva-Site/-/en_US/v1633496501374/css/cart.css */
@media (max-width: 543.98px) {
  .btn.btn-block.btn-holiday.cart {
      text-transform: uppercase;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      width: 95%;
      margin-left: 2.5%;
  }
}
.edit {
  margin-right: 0.625em;
}
.product-edit {
  margin-top: auto;
}
.product-edit a {
  font-size: 0.813em;
  color: #cfb56a;
}
.line-item-attributes {
  font-size: 0.813rem;
  margin: 0;
}
.item-attributes {
  display: inline-block;
  vertical-align: top;
}
.line-item-divider {
  margin: 0.625em -0.625rem;
}
.line-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1em;
  color: #000;
  font-weight: 700;
  margin-bottom: 0.625em;
  width: 90%;
}
.line-item-price-info {
  font-size: 0.75em;
  margin-bottom: 0.5rem;
}
.product-info {
  margin-bottom: 0.313em;
  padding: 0.625em;
}
@media (min-width: 769px) {
  .product-info {
      height: auto;
  }
}
.product-to-remove {
  font-weight: 700;
}
.item-image {
  height: 5.625em;
  width: 5.625em;
  margin-right: 0.938em;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.item-image img.product-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 5.625em;
}
@media (min-width: 544px) {
  .promo-code-form {
      display: block;
  }
}
.promo-code-submit {
  padding-left: 0;
}
.quantity-form {
  margin-bottom: 0;
  margin-top: -0.313em;
}
.product-info .remove-btn-lg {
  border: none;
  border-radius: 0;
  font-size: 1.625em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  z-index: 1;
}
.remove-line-item {
  position: relative;
}
.sub-total {
  font-weight: 700;
}
.grand-total {
  font-size: 1em;
  font-weight: 600;
}
.coupons-and-promos {
  margin-bottom: 0.625rem;
  padding-right: 0;
  padding-left: 0;
}
.coupon-error {
  color: #c00;
  margin-top: 0.25rem;
}
.coupon-missing-error {
  display: none;
}
.applied-promotion-discount {
  color: #008827;
  float: right;
}
.promotion-information {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
.line-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.quantity-label {
  font-size: 0.813em;
}
.modal-body-remove.delete-confirmation-body {
  padding: 1rem;
}
.modal-footer-remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
}
.modal-footer-remove > button {
  margin-right: 7px;
}
.product-info *,
.totals {
  font-family: Gotham, Arial, sans-serif;
}
@media (min-width: 544px) {
  .cart-page {
      margin-bottom: 15px;
  }
}
.cart-page .promotion-label {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 20px;
}
.cart-page .subtotal-label {
  font-size: 1rem;
}
.login-cart {
  text-decoration: underline;
  color: #cfb56a;
}
.promo-code-form {
  display: block;
}
@media (max-width: 543.98px) {
  .promo-code-form {
      margin-top: 1rem;
  }
}
[data-form-split] {
  width: 12rem;
}
[data-form-split] .btn-link-primary {
  font-size: 0.813em;
}
.product-info[data-line-qty="1.0"] [data-form-split] {
  display: none;
}
.lg-down-split-shipment-form [data-form-split] {
  width: 10rem;
}
.lg-down-split-shipment-form [data-form-split] button {
  text-align: right;
}
.lg-split-shipment-form [data-form-split] {
  margin-right: auto;
  margin-left: auto;
  width: 12rem;
}
.checkout-continue {
  z-index: 10;
}
.coupon_loginRqd,
.coupon_orderTooSoon {
  display: none;
  color: #c00;
}
.qty-input-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 130px;
  max-width: 80%;
  min-width: 90px;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.1875rem;
  overflow: hidden;
}
.qty-input-container .qty-input {
  width: 100%;
  padding: 0;
  border: none;
  border-radius: none;
  text-align: center;
  z-index: 1;
}
.qty-input-container input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.qty-input-container .qty-btn-down,
.qty-input-container .qty-btn-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4em;
  min-width: 1.5em;
  padding: 0;
  border: none;
  border-radius: unset;
  outline: 0;
  -webkit-appearance: none;
}
