<section class="micro-app-container">
    <div class="micro-app-toolbar-container">
        <div class="micro-app-toolbar-row">
            <i class="clear"></i>
            <div class="micro-app-toolbar-search-container">
                <input type="text" placeholder="Search mrshop">
            </div>
        </div>
    </div>
    <div class="micro-app-content">
        <div class="micro-app-content-left">
            <div class="micro-app-left-menu-list">
                <a *ngFor="let item of leftList" [class.left-menu-item-active1]="selectedItem.id == 'item.id'" class="left-menu-item-active">
                    <span>Recharge &amp; Pay Bills</span>
                </a>
            </div>
        </div>
        <div class="micro-app-content-right" style="background: #f5f8fa;">
            <a *ngFor="let item of rightList">
                <div class="micro-app-content-right-widget">
                    <img src="https://assetscdn1.paytm.com/images/catalog/view_item/710719/1610605805462.png"
                        alt="Mobile Prepaid">
                </div>
                <span>Mobile Prepaid</span>
            </a>
        </div>
    </div>
</section>
