/*! CSS Used from: Embedded */
img{max-width:100%;border-style:none;}
*{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);}
:focus{outline:none;}
::-webkit-scrollbar{display:none;}
/*! CSS Used from: Embedded */
._2Yoj{overflow:hidden;}
._2Yoj,._2Yoj:after{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1;}
._2Yoj:after{content:"";pointer-events:none;background-image:-webkit-radial-gradient(circle,#dde5ed 10%,transparent 10.01%);background-image:-o-radial-gradient(circle,#dde5ed 10%,transparent 10.01%);background-image:radial-gradient(circle,#dde5ed 10%,transparent 10.01%);background-repeat:no-repeat;background-position:50%;-webkit-transform:scale(0);-ms-transform:scale(0);-o-transform:scale(0);transform:scale(0);-webkit-transform-origin:center;-ms-transform-origin:center;-o-transform-origin:center;transform-origin:center;opacity:0;}
/*! CSS Used from: Embedded */
._2uF9{min-width:100%;background-color:#e4efff;padding-top:12px;position:relative;}
._2uF9 ._3JNP{padding:0 16px 8px;}
._2uF9 ._3JNP.zH0I{overflow-x:scroll;white-space:nowrap;padding:0 16px 4px;}
/*! CSS Used from: Embedded */
.YDDi{margin:0 12px 8px 0;text-align:center;position:relative;display:inline-block;vertical-align:top;}
.YDDi .l-2u{width:55px;height:55px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;border-radius:6px;border:1px solid #f5f8fa;background:#fff;overflow:hidden;margin:0 auto;}
.YDDi .l-2u img{max-width:100%;max-height:100%;}
.YDDi ._2DHq{font-size:1.2rem;color:#1d252d;font-weight:400;line-height:14px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;white-space:normal;max-height:32px;margin-top:8px;max-width:70px;word-break:break-word;}
/*! CSS Used from: Embedded */
img{max-width:100%;}