<section class="micro-app-container">
    <!-- <div class="micro-app-toolbar-container">
        <div class="micro-app-toolbar-row">
            <i class="clear"></i>
            <div class="micro-app-toolbar-search-container">
                <input type="text" placeholder="Search mrshop">
            </div>
        </div>
    </div> -->
    <div class="micro-app-content">
        <div class="micro-app-content-left">
            <div class="micro-app-left-menu-list">
                <a *ngFor="let item of navItems" (click)="selectMainCategory(item)"
                    [class.left-menu-item-active]="mainCategory.route == item.route">
                    <span>{{item.displayName}}</span>
                </a>
            </div>
        </div>
        <div class="micro-app-content-right">
            <app-organiser-list (addTaskToListEvt)="handleAddTaskToList($event)"></app-organiser-list>
        </div>
    </div>
</section>
