::-webkit-scrollbar {
  display: none;
}
img {
  width: 100%;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
img {
  max-width: 100%;
  border-style: none;
}
a {
  text-decoration: none;
  color: #00b9f5;
  cursor: pointer;
  position: relative;
}
img {
  width: 100%;
}
.micro-app-container {
  height: 100vh;
}
.micro-app-container .micro-app-toolbar-container {
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.micro-app-container .micro-app-toolbar-container {
  border-bottom: 1px solid #e8edf3;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}
.micro-app-container .micro-app-content {
  display: -ms-flexbox;
  display: flex;
}
.micro-app-container .micro-app-content .micro-app-content-left {
  width: 30%;
  background: #f5f8fa;
  overflow: scroll;
  height: 100%;
  position: absolute;
}
.micro-app-container .micro-app-content .micro-app-content-left .micro-app-left-menu-list a {
  display: block;
  padding: 23px 0;
  border-bottom: 1px solid #e8edf3;
  font-size: 14px;
  color: #37445a;
  font-weight: 500;
}
.micro-app-container .micro-app-content .micro-app-content-left .micro-app-left-menu-list a span {
  display: block;
  padding: 0 13px;
}
.micro-app-container .micro-app-content .micro-app-content-left .micro-app-left-menu-list .left-menu-item-active {
  background: #fff;
  font-weight: 700;
}
.micro-app-container .micro-app-content .micro-app-content-left .micro-app-left-menu-list .left-menu-item-active span {
  display: block;
  padding: 0 13px;
  border-left: 2px solid #00b9f5;
}
.micro-app-container .micro-app-content .micro-app-content-right {
  // display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // padding: 23px 5px 23px 0;
  overflow: scroll;
  position: absolute;
  right: -2px;
  width: 70%;
  max-height: 100%;
}
.micro-app-container .micro-app-content .micro-app-content-right a {
  text-align: center;
  width: 33.33%;
  margin-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.micro-app-container .micro-app-content .micro-app-content-right a .micro-app-content-right-widget {
  margin-bottom: 5px;
  width: 64px;
  height: auto;
}
.micro-app-container .micro-app-content .micro-app-content-right a .micro-app-content-right-widget img {
  width: auto;
  height: 40px;
}
.micro-app-container .micro-app-content .micro-app-content-right a span {
  text-align: center;
  width: 70px;
  font-size: 12px;
  color: #000;
  font-weight: 600;
}


@media only screen and (max-width: 600px) {
  .micro-app-content {
      margin-top: 50px;
  }
}

@media only screen and (min-width: 601px) {
  .micro-app-content {
      margin-top: 70px;
  }
}