<section class="cIK0o">
    <div class="_3IWs7">
        <div class="_3L3Ff">Rewards &amp; Achievements</div>
        <div class="BCC9l"><a href="https://paytm.com/recharge">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710719/1610605805462.png"
                        alt="Mobile Prepaid"></div><span>Mobile Prepaid</span>
            </a><a href="https://paytm.com/rent-payment">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/860999/1627022837978.png"
                        alt="Rent Payment"></div><span>Rent Payment</span>
            </a><a href="https://paytm.com/electricity-bill-payment">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710670/1610605839633.png"
                        alt="Electricity"></div><span>Electricity</span>
            </a><a href="https://paytm.com/dth-recharge">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710721/1610605705257.png"
                        alt="DTH"></div><span>DTH</span>
            </a><a href="https://paytm.com/gas-bill-payment">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710701/1610607154707.png"
                        alt="Piped Gas Bill"></div><span>Piped Gas Bill</span>
            </a><a href="https://paytm.com/cylinder-gas-recharge">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/796201/1618304152725.png"
                        alt="Book a Cylinder"></div><span>Book a Cylinder</span>
            </a><a href="https://paytm.com/broadband-bill-payment">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710699/1610605714319.png"
                        alt="Broadband / Landline"></div><span>Broadband / Landline</span>
            </a><a href="https://paytm.com/insurance-premium-payment">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710695/1610607088169.png"
                        alt="LIC Insurance"></div><span>LIC Insurance</span>
            </a><a href="https://paytm.com/loan-emi-payment">
                <div class="_1dhwF"></div>
                <div class="_3hUc3"><img
                        src="https://assetscdn1.paytm.com/images/catalog/view_item/710696/1610605714729.png"
                        alt="Pay Loan"></div><span>Pay Loan</span>
            </a></div>
        <div class="_1ScmH"><a class="NNpRL">
                <div class="_2PSue"></div>View All <i></i>
            </a></div>
    </div>
    <div class="_2cB7q"></div>
</section>